$cols: 12;
$breakpoint: 65em;

$media:  "screen and (min-width: #{$breakpoint})";
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display:block;
  @media #{$media}{
    display:flex;
  }
  @media print{
    display:flex;
  }
  &.xs { display: flex }
}
@for $i from 1 to $cols + 1 {
  .col-#{$i} {
    width:100%;
    @media #{$media} {
      width:100%/$cols*$i;
    }
    @media print {
      width:100%/$cols*$i;
    }
  }
}
